@import '../abstracts/mixins';
/*
Description: Style class to:
   - remove default margin and padding values
   - height and width are set to 100%
   - position, background color and font are mentioned for whole application.
*/
html,body {
    @include widthHeight(100%, 100%);
    @include paddingMargin(0, 0);
    @include fontSize(16px);
    @include position(absolute);
    font-family: 'Raleway', 'Open Sans', sans-serif !important;
    @include backgroundColor(white!important);
    @include boxSizing(border-box);
    @include touchCallout(none);
    @include userSelect(none);
         /* Non-prefixed version, currently
                                    not supported by any browser */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
.im-global-rowFlexContainer{
    @include flexview();
    @include flexDirection(row);
    @include position(relative);
}

/*
Description: Style class to:
    - align child items in column direction.
*/
.im-global-columnFlexContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

/*
Description: Style class to:
    - occupies the remaining space in the container.
*/
.im-global-flexgrow{
    @include flexGrow(1);
}

/*
Description: Style class to:
    - height and width is set to parents full width and height.
*/
.im-global-dockFull{
    @include widthHeight(100%, 100%);
}

/*
Description: Style class to:
    - turns off the display of an element.
*/
.im-global-displayNone{
    @include display(none);
}
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
.im-g-ellipsisCls {
    @include textOverflow(ellipsis);
    @include whiteSpace(nowrap);
    @include overflow(hidden);
}

/*
Description: Style class to:
    - Displays an element as a block-level flex container.
*/
.im-g-displayFlex{
    @include flexview(); /* Displays an element as a block-level flex container */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
%rowFlex{
    @include flexview();
    @include flexDirection(row);
}
/*
Description: Style class to:
    - align child items in column direction.
*/
%columnFlex{
    @include flexview();
    @include flexDirection(column);
}
/*
Description: Style class to:
    - element takes full width and height from its parent.
*/
%dockFull{
    @include widthHeight(100%, 100%);
}
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
%ellipsisCls {
    @include textOverflow(ellipsis); /* to add ellipsis if the text exceeds the lenght of the container */
    @include whiteSpace(nowrap); /* Text will never wrap to the next line */
    @include overflow(hidden); /* when content overflows an element's box, the overflow is clipped, and the rest of the content will be invisible */
}

/*
Description: Style class to:
    - sets font family to roboto.
*/
%fontRoboto{
    @include fontFamily(setFontFamily(roboto));
}
/*
Description: Style class to:
    - sets font family to raleway.
*/
%fontRaleway{
    @include fontFamily(setFontFamily(raleway));
}
/*
Description: Style class to:
    - sets font family to asap.
*/
%fontAsap{
    @include fontFamily(setFontFamily(asap));
}