/**
* Description: This is the Clariti main styling file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/

/*
Description: Style class to:
   - remove default margin and padding values
   - height and width are set to 100%
   - position, background color and font are mentioned for whole application.
*/
html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    position:absolute;
    font-family: 'Open Sans', sans-serif !important;
    background-color:  white!important;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
.im-global-rowFlexContainer{
    display: flex;
    flex-direction: row;
    position: relative;
}

/*
Description: Style class to:
    - align child items in column direction.
*/
.im-global-columnFlexContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}

/*
Description: Style class to:
    - occupies the remaining space in the container.
*/
.im-global-flexgrow{
    flex-grow: 1;
}

/*
Description: Style class to:
    - height and width is set to parents full width and height.
*/
.im-global-dockFull{
    width:100%;
    height: 100%;
}

/*
Description: Style class to:
    - turns off the display of an element.
*/
.im-global-displayNone{
    display:none;
}
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
.im-g-ellipsisCls {
    text-overflow: ellipsis; /* to add ellipsis if the text exceeds the lenght of the container */
    white-space: nowrap; /* Text will never wrap to the next line */
    overflow: hidden; /* when content overflows an element's box, the overflow is clipped, and the rest of the content will be invisible */
}

/********* Common Classes ***********/
@import url('https://fonts.googleapis.com/css?family=Raleway');

$default-font: Raleway;


body {
  font: Raleway;
}

.over-menu-div {
  width: 353px;
  display: none;
}

.hide {
  display: none;
}

.container-div {
  font: 12px $default-font;
  display: table;
  vertical-align: middle;
  transition: .2s;
  background-color: $menu-bckgnd-color;
  width: 100%;
  min-height: 20px;
  max-height: 80px;
  color: $menu-txt-color;
  border: 1px solid $menu-border-color; }

.container-div:hover {
  transition: .1s;
  background-color: $menu-bckgnd-hov-color;
  color: $menu-txt-hov-color; }

.icon-div {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1.5%;
  margin-left: 2%; 
  background-repeat: no-repeat;
  background-position: right top; }

.txt-div {
  vertical-align: center;
  padding-top: .5%;
  display: inline-block;
  min-height: 15px;
  max-height: 30px; }

.js-rotated-180 {
  transform: rotate(180deg);
  transition: .6s; }

.js-rotated-270 {
  transform: rotate(270deg);
  transition: .6s; }

.js-rotated-90 {
  transform: rotate(90deg);
  transition: .6s; }

.right {
  margin-top: 2.5%;
  margin-right: 6%;
  float: right;
  position: sticky; }

.input-div {
  width: 100%;
  text-align: center;
  margin-bottom: 3.5%; }

.sub-menu {
  padding-left: 10%; }

.txt-input-style {
  background-color: $menu-bckgnd-color;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid $menu-input-color;
  color: $menu-input-color;
  width: 90%;
  text-align: center; }

input:focus {
  outline: 0; }


/********* First Panel Classes ***********/
.email-status {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  text-align: left; }

.active-email:after {
  content: "Active";
  color: $valid-txt-color; }

.public-email:after {
  content: "Public";
  color: $valid-txt-color; }

.container-div:hover .rotated-180 {
  transform: rotate(0);
  transition: .6s; }

.container-div:hover .active-email:after {
  content: "Inactive";
  color: $error-txt-color; }

.container-div:hover .public-email:after {
  content: "Not Public";
  color: $error-txt-color; }

/********* Second Panel ***********/
.sync-txt:after {
  content: "This Git Cat is currently synched"; }

.out-sync-txt:after {
  content: "This Git Cat is not synched"; }

/********* Third Panel ***********/
.form-div {
  padding-right: .1%; }

.form-div:hover {
  background-color: $menu-bckgnd-color; }

.input-txt {
  width: 100%;
  text-align: center;
  height: 35%; }

/********* Fourth Panel ***********/
.hov-display {
  display: none; }

.container-div:hover .hov-display {
  display: block; }

/********* Fifth Panel ***********/
.form-div {
  font: 12px $default-font;
  width: 100%; }

.email-form {
  display: inline-block;
  width: 90%; }

.form-padding {
  text-align: center;
  padding: 3%; }

.input-name {
  display: inline-block;
  width: 25%; }

.form-hov:hover {
  background-color: $menu-bckgnd-color; }

.form-bttn {
  border-radius: 5px; }

.form-field {
  width: 60%;
  vertical-align: bottom; }

/*# sourceMappingURL=styles.css.map */
