/**
* Description: This file holds the styles related to <im-il-it-subject>
* Author: SRT
* Revision History:
* 12-Oct-2018 SRT Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: Color palette for entire application.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* This is the im Font styling file
* font-family
* font-size
* font-weight
*/
/*Google Fonts imported from googleapi. */
@import url("https://fonts.googleapis.com/css?family=Asap|Open+Sans|Raleway|Roboto:300,400,500");
/* base value for the application (1rem = 16px). */
/* line height for the application. */
/**
* Description: Color palette for entire application.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* No other color should be declared anywhere in the application.
*/
/**
* Description: This file holds the scss functions.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* function to return color value based up on input arguments from a map.
* input: $scheme - scheme type should be mentioned ex: primary, secondary etc.
* input: $tone  - tone type should be mentioned ex: base, light, dark etc.
*/
/**
* function to return font family based up on input arguments from a map.
* input: $fontname - fontname should be mentioned ex: opensans, roboto etc.
*/
/**
* function to return font size based up on input arguments from a map.
* input: $fontscheme - fontscheme should be mentioned ex: xsmall, small etc.
*/
/**
* function to return font weight based up on input arguments from a map.
* input: $fontweight - fontweight should be mentioned ex: bold, bolder etc.
*/
/**
* function to return lighten color using lighten percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of lightness.
*/
/**
* function to return darken color using darken percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of darkness.
*/
/**
* Description: This file holds the scss placeholders.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* place holder to set font size and line height
*/
.im-il-it-subjectStyle {
  line-height: 1.125rem;
  /* Sets 18px height of the element  */
  font-size: 0.825rem;
  /* Sets 14px font-size of the element  */
}

/**
* place holder to set font color and letter spacing
*/
.im-il-it-subjectStyle {
  color: #4d4d4d;
  /* Sets black color of text in the element  */
  letter-spacing: 0.0625rem;
  /* Defines an extra space between characters */
}

/**
* Description: This file holds the scss variables.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* base value for item list area. (16px)
*/
/**
* base width for item list area. (16 * 25 = 400px)
*/
/**
* line height for item list area. (16 * 1.1225 = 18px)
*/
/**
* base value for item list area. (16px)
*/
/**
* Description: Style class to:
    - subject styling
*
*/
/**
* Description: Style class to:
    - set height and width of <img> element in case of twitter commitem
*
*/
.im-g-ellipsisCls ::ng-deep img.emoji {
  height: 1.25rem;
  /* Sets 20px height of the element  */
  width: 1.25rem;
  /* Sets 20px width of the element  */
}
/*# sourceMappingURL=im-il-it-subject.component.css.map */