/********* SCSS Variables **********/

$valid-txt-color: #36dc86;
$error-txt-color: red;
$menu-bckgnd-color:#2b3c4c;
$menu-txt-color: #cad1d7;
$menu-border-color: #556573;
$menu-bckgnd-hov-color: #dedede;
$menu-txt-hov-color: #fff;
$menu-input-color: #fff;

$header-txt-color: #fff;
$clariti-light-blue: #30b4f4;