/**
* Description: Color palette for entire application.
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/

/**
* No other color should be declared anywhere in the application.
*/
$im-colors: (                                 /* map to hold base color.*/
  "primary"     : rgb(136,0,255),
  "accent"      : rgb(0,172,255),
  "secondary"   : rgb(255,140,0),
  "foreground"  : rgb(128,128,128),
  "background"  : rgb(0,255,255),
  "warning"     : rgb(255,69,0),
  "success"     : rgb(0,255,0)
);

$valid-txt-color: #36dc86;
$error-txt-color: red;
$menu-bckgnd-color:#2b3c4c;
$menu-txt-color: #cad1d7;
$menu-border-color: #556573;
$menu-bckgnd-hov-color: #dedede;
$menu-txt-hov-color: #fff;
$menu-input-color: #fff;

$header-txt-color: #fff;
$clariti-light-blue: #30b4f4;