/**
* Rules : one @import per folder.
* a linebreak after @import.
* each file on its own line.
* a new line after the last import from a folder.
* file extensions and leading underscores omitted.
*/
/**
* The base folder holds what we might call the boilerplate code for the project.
*/
/**
* No other color should be declared anywhere in the application.
*/
/**
* This is the im Font styling file
* font-family
* font-size
* font-weight
*/
/*Google Fonts imported from googleapi. */
@import url("https://fonts.googleapis.com/css?family=Raleway|Asap|Open+Sans|Roboto:300,400,500");
/* base value for the application (1rem = 16px). */
/* line height for the application. */
/**
* The abstracts folder gathers all Sass tools and helpers used across the project.
* It should not output a single line of CSS when compiled on its own.
*/
/**
* base value for item list area. (16px)
*/
/**
* base width for item list area. (16 * 25 = 400px)
*/
/**
* line height for item list area. (16 * 1.1225 = 18px)
*/
/**
* base value for item list area. (16px)
*/
/**
* function to return color value based up on input arguments from a map.
* input: $scheme - scheme type should be mentioned ex: primary, secondary etc.
* input: $tone  - tone type should be mentioned ex: base, light, dark etc.
*/
/**
* function to return font family based up on input arguments from a map.
* input: $fontname - fontname should be mentioned ex: opensans, roboto etc.
*/
/**
* function to return font size based up on input arguments from a map.
* input: $fontscheme - fontscheme should be mentioned ex: xsmall, small etc.
*/
/**
* function to return font weight based up on input arguments from a map.
* input: $fontweight - fontweight should be mentioned ex: bold, bolder etc.
*/
/**
* function to return lighten color using lighten percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of lightness.
*/
/**
* function to return darken color using darken percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of darkness.
*/
/**
* place holder to set font size and line height
*/
/**
* place holder to set font color and letter spacing
*/
/**
* The layout folder contains everything that
* takes part in laying out the application.
*/
/**
* Description: This is the main styling file 
*/
/*
Description: Style class to:
   - remove default margin and padding values
   - height and width are set to 100%
   - position, background color and font are mentioned for whole application.
*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: absolute;
  font-family: 'Raleway', 'Open Sans', sans-serif !important;
  background-color: white !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
.im-global-rowFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

/*
Description: Style class to:
    - align child items in column direction.
*/
.im-global-columnFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/*
Description: Style class to:
    - occupies the remaining space in the container.
*/
.im-global-flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*
Description: Style class to:
    - height and width is set to parents full width and height.
*/
.im-global-dockFull {
  width: 100%;
  height: 100%;
}

/*
Description: Style class to:
    - turns off the display of an element.
*/
.im-global-displayNone {
  display: none;
}

/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
.im-g-ellipsisCls {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
Description: Style class to:
    - Displays an element as a block-level flex container.
*/
.im-g-displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Displays an element as a block-level flex container */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
/*
Description: Style class to:
    - align child items in column direction.
*/
/*
Description: Style class to:
    - element takes full width and height from its parent.
*/
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
/*
Description: Style class to:
    - sets font family to roboto.
*/
/*
Description: Style class to:
    - sets font family to raleway.
*/
/*
Description: Style class to:
    - sets font family to asap.
*/
/**
* The component folder contains all components used in the application
*/
.mr-auto {
  margin-right: auto !important;
}

.text-success {
  color: lime;
}

.text-wrap {
  word-wrap: break-word;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.ml-5 {
  margin-left: 3rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.transparent {
  background-color: transparent;
}

.w-100 {
  width: 100%;
  height: none;
}

.justify-content-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-center {
  text-align: center;
}

.svg-icon path {
  fill: red;
}

nav.navbar {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  position: relative;
  padding: 0 0.5rem 0.2rem 1rem;
  margin: none;
  color: #4d4d4d;
  background-color: #1e2936;
}

nav.navbar .navbar-collapse {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navbar .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0.7rem;
  list-style: none;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
  padding: 0rem 1rem;
  margin: none;
  color: white;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-name {
  font-size: 1.25rem;
  padding: none;
  margin: -0.25rem 0 0 0;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item .link {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item.dropdown {
  position: relative;
  border-bottom: 3px solid transparent;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item.dropdown:hover {
  border-bottom: 3px solid #44ade3;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.825rem;
  color: #252529;
  text-align: left;
  list-style: none;
  background-color: #2b3946;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.dropdown-menu.left {
  left: 0;
}

.dropdown-menu.right {
  right: 0;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 0.1rem 0.5rem;
  margin: none;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu .dropdown-item .item-image-container {
  width: 20px;
  height: 20px;
  margin-right: 0.9rem;
}

.dropdown-menu .dropdown-divider {
  width: auto;
  height: 0;
  padding: none;
  margin: 0.1rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(233, 236, 239, 0.3);
}

.textinput {
  background-color: black;
  border: none;
  border-radius: none;
  padding: 0.5rem;
  margin: none;
  color: white;
}

.textinput::-webkit-input-placeholder {
  color: #00acff;
  opacity: 1;
}

.textinput:-ms-input-placeholder {
  color: #00acff;
  opacity: 1;
}

.textinput::-ms-input-placeholder {
  color: #00acff;
  opacity: 1;
}

.textinput::placeholder {
  color: #00acff;
  opacity: 1;
}

.textinput.border-less {
  background-color: transparent;
  border: none;
  border-radius: none;
  border-bottom: 2px solid white;
}

.textinput.placeholder-grey::-webkit-input-placeholder {
  color: gray;
}

.textinput.placeholder-grey:-ms-input-placeholder {
  color: gray;
}

.textinput.placeholder-grey::-ms-input-placeholder {
  color: gray;
}

.textinput.placeholder-grey::placeholder {
  color: gray;
}
/*# sourceMappingURL=index.css.map */