/**
* Description: This is the Clariti main styling file
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* Rules : one @import per folder.
* a linebreak after @import.
* each file on its own line.
* a new line after the last import from a folder.
* file extensions and leading underscores omitted.
*/
/**
* The base folder holds what we might call the boilerplate code for the project.
*/
/**
* Description: Color palette for entire application.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* No other color should be declared anywhere in the application.
*/
/**
* Description: Color palette for entire application.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* This is the im Font styling file
* font-family
* font-size
* font-weight
*/
/*Google Fonts imported from googleapi. */
@import url("https://fonts.googleapis.com/css?family=Asap|Open+Sans|Raleway|Roboto:300,400,500");
/* base value for the application (1rem = 16px). */
/* line height for the application. */
/**
* Description: This is the Clariti main styling file 
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* The abstracts folder gathers all Sass tools and helpers used across the project.
* It should not output a single line of CSS when compiled on its own.
*/
/**
* Description: This file holds the scss mixins. 
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: This file holds the scss variables.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* base value for item list area. (16px)
*/
/**
* base width for item list area. (16 * 25 = 400px)
*/
/**
* line height for item list area. (16 * 1.1225 = 18px)
*/
/**
* base value for item list area. (16px)
*/
/**
* Description: This file holds the scss functions.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* function to return color value based up on input arguments from a map.
* input: $scheme - scheme type should be mentioned ex: primary, secondary etc.
* input: $tone  - tone type should be mentioned ex: base, light, dark etc.
*/
/**
* function to return font family based up on input arguments from a map.
* input: $fontname - fontname should be mentioned ex: opensans, roboto etc.
*/
/**
* function to return font size based up on input arguments from a map.
* input: $fontscheme - fontscheme should be mentioned ex: xsmall, small etc.
*/
/**
* function to return font weight based up on input arguments from a map.
* input: $fontweight - fontweight should be mentioned ex: bold, bolder etc.
*/
/**
* function to return lighten color using lighten percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of lightness.
*/
/**
* function to return darken color using darken percentage.
* input: $base - primary color ex: base.
* input: $percentage - percentage of darkness.
*/
/**
* Description: This file holds the scss placeholders.
* Author: PKI
* Revision History:
* 30-OCT-2018 PKI Created
* 08-Nov-2018 PKI Modified
* Copyright 2018 CCE Technologies Inc
*/
/**
* place holder to set font size and line height
*/
/**
* place holder to set font color and letter spacing
*/
/**
* The layout folder contains everything that
* takes part in laying out the application.
*/
/**
* Description: This is the Clariti main styling file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: This is the Clariti areas layout file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: This is the Clariti main styling file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/*
Description: Style class to:
   - remove default margin and padding values
   - height and width are set to 100%
   - position, background color and font are mentioned for whole application.
*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: absolute;
  font-family: 'Open Sans', sans-serif !important;
  background-color: white !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
.im-global-rowFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

/*
Description: Style class to:
    - align child items in column direction.
*/
.im-global-columnFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/*
Description: Style class to:
    - occupies the remaining space in the container.
*/
.im-global-flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*
Description: Style class to:
    - height and width is set to parents full width and height.
*/
.im-global-dockFull {
  width: 100%;
  height: 100%;
}

/*
Description: Style class to:
    - turns off the display of an element.
*/
.im-global-displayNone {
  display: none;
}

/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
.im-g-ellipsisCls {
  text-overflow: ellipsis;
  /* to add ellipsis if the text exceeds the lenght of the container */
  white-space: nowrap;
  /* Text will never wrap to the next line */
  overflow: hidden;
  /* when content overflows an element's box, the overflow is clipped, and the rest of the content will be invisible */
}

/*
Description: Style class to:
    - Displays an element as a block-level flex container.
*/
.im-g-displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Displays an element as a block-level flex container */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
/*
Description: Style class to:
    - align child items in column direction.
*/
/*
Description: Style class to:
    - element takes full width and height from its parent.
*/
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
/*
Description: Style class to:
    - sets font family to roboto.
*/
/*
Description: Style class to:
    - sets font family to raleway.
*/
/*
Description: Style class to:
    - sets font family to asap.
*/
/**
* The components folder contains everything component
* that appears in the application.
*/
/**
* Description: This is the Clariti main styling file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: This is the Clariti areas layout file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/**
* Description: This is the Clariti main styling file 
* Author: PK
* Revision History:
* 30-OCT-2018 PK Created
* Copyright 2018 CCE Technologies Inc
*/
/*
Description: Style class to:
   - remove default margin and padding values
   - height and width are set to 100%
   - position, background color and font are mentioned for whole application.
*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: absolute;
  font-family: 'Open Sans', sans-serif !important;
  background-color: white !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    not supported by any browser */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
.im-global-rowFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

/*
Description: Style class to:
    - align child items in column direction.
*/
.im-global-columnFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/*
Description: Style class to:
    - occupies the remaining space in the container.
*/
.im-global-flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*
Description: Style class to:
    - height and width is set to parents full width and height.
*/
.im-global-dockFull {
  width: 100%;
  height: 100%;
}

/*
Description: Style class to:
    - turns off the display of an element.
*/
.im-global-displayNone {
  display: none;
}

/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
.im-g-ellipsisCls {
  text-overflow: ellipsis;
  /* to add ellipsis if the text exceeds the lenght of the container */
  white-space: nowrap;
  /* Text will never wrap to the next line */
  overflow: hidden;
  /* when content overflows an element's box, the overflow is clipped, and the rest of the content will be invisible */
}

/*
Description: Style class to:
    - Displays an element as a block-level flex container.
*/
.im-g-displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Displays an element as a block-level flex container */
}

/*
Description: Style class to:
    - align child items in row direction.
*/
/*
Description: Style class to:
    - align child items in column direction.
*/
/*
Description: Style class to:
    - element takes full width and height from its parent.
*/
/*
Description: Style class to:
    - if the text exceeds the container width, show ellipsis.
*/
/*
Description: Style class to:
    - sets font family to roboto.
*/
/*
Description: Style class to:
    - sets font family to raleway.
*/
/*
Description: Style class to:
    - sets font family to asap.
*/
/*# sourceMappingURL=main.css.map */